.z-depth-1.bgm-white.m-10.p-10
    kpi-chart-form.animated.fadeIn([fg]="fg", [chartModel]="chartModel", [isnewChartOrMap]="true", [chartDataFromKPI]="chartDataFromKPI", (result)="onChartFormEvent($event)")