.show-map-container {
    position: relative;
    margin: 4px;
    padding: 2px;
    
    agm-map {
        .gm-style-pbt {
            color: white;
            font-size: 28px;
        }
    }
    .container-legend {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 280px;
    }
    .legend-settings-container {
        
        
        .title-container {
            width: 60%;
            margin-right: 10%;
            font-weight: bold;
            font-size: 12px;
            
        }
        .icon-container {
            margin-right: 15px;
            right: 20px;
        }
        .icon-container:hover {
            color: rgba(189, 184, 184, 0.932);
        }
    }
    .opacity {
        opacity: 0.6;
    }
    
    
    .legend-settings {
        
        bottom: 0px;
        right: 8px;
        width: 280px;
        .money-range {
            font-size: 11px;
        }
        transition: ease-in-out;
    }

   
}