.close-button {
    position: absolute;
    right: 15px;
    top: 10px;
}

.show-map-container {
    position: relative;
    margin: 4px;
    padding: 2px;
    agm-map {
        height: 400px;

        .gm-style-pbt {
            color: white;
            font-size: 28px;
        }
    }
    .legend-button {
        position: absolute;
        top: 8px;
        right: 30px;
        width: 50px;
    }
    .legend-settings-btn {
        position: absolute;
        width: 36px;
        z-index: 50;
        top: 10px;
        left: 10px;
        text-align: center;
        transform: scale(1.4);
    }
    .legend {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 250px;
        padding: 15px;
        @extend .close-button;
        .money-range {
            font-size: 11px;
        }
    }
    .legend-settings {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 250px;
        padding: 15px;
        z-index: 50;
        @extend .close-button;
    }
}