.show-map-container {
    //position: relative;
    margin: 0px;
    padding: 0px;
    height: 100%;
    
    .container-map {
        z-index: 4;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 5px;

    }
    agm-map {
        padding: 0;
        height: 100%;
        .gm-style-pbt {
            color: rgb(245, 245, 248);
            font-size: 28px;
        }
    }
    .container-legend {
        z-index: 50;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0;
        padding-top: 1px;
        margin: 0;
        width: 290px;
        //height: 100% !important;
        .legend-settings-container {
            z-index: 50;
            padding: 10px 0px;
            .title-container {
                padding-top: 5px;
                padding-left: 10px;
                z-index: 50;
                width: 60%;
                margin-right: 10%;
                font-weight: bold;
                font-size: 12px;
                height: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .icon-container {
               // padding-top: 5px;
                z-index: 50;
                margin-right: 15px;
                right: 20px;
            }
            .icon-container:hover {
                color: rgba(189, 184, 184, 0.932);
            }
        }
        .settings {
            height: 406px;
            padding-left: 5px;
            padding-top: 10px;
            bottom: 0px;
            right: 1px;
            width: 100%;
            z-index: 50;
            
        }
        .legend {
            height: 406px;
            padding-left: 10px;
            padding-top: 20px;
            bottom: 0px;
            right: 1px;
            width: 100%;
            z-index: 50;
            .money-range {
                font-size: 11px;
            }
            transition: ease-in-out;
        }
    }
    
    .opacity {
        opacity: 0.6;
    } 
}

// .maximized
// .container-legend{
//     .settings{
//         height: 91vh !important;
//     }
//     .legend{
//         height: 91vh !important;
//     }
// }
