bw-modal(size="md", [openOnInit]="true", (onClosed)="cancel()", (onDismiss)="cancel()")
    bw-modal-header
        h4.modal-title.c-black Create Department
    bw-modal-body
        kpi-form-department(#departmentForm)
    bw-modal-footer
        bw-button(color="blue", title="Save", icon = "check", class="normal", (clicked)="save()")
        bw-button(title="CANCEL", [simple]="true",icon = "cancel", (clicked)="cancel()")