.popup-header {
    i.zmdi {
        font-size: 80px;
        color: orange;
    }

    .header-text {
        font-size: 18px;
        font-weight: bold;
        margin: 25px;
    }
}

.popup-body {
    .body-text {
        padding-bottom: 10px;
    }
}