div(layout="column")
    //- name
    .m-t-15(flex)
        bw-text-box([fg]="vm.fg", field="name", label="name")        
    //- serviceType
    .m-t-15(flex)
        bw-text-box([fg]="vm.fg", field="serviceType", label="serviceType")        

    