kpi-spinner(*ngIf="loading")
kpi-item-list(
    title="KPIs",
    aliases="kpis",
    [items]="vm.kpiItems",
    [itemViewModel]="vm",
    [addItemActivityName]="'AddKpiActivity'",
    [itemListActivityName]="actionActivityNames",
    [actionItems] = "vm.menuItems",
    [itemType]="itemType",
    (onAddActionClicked)="add()",
    (onItemActionClicked)="actionClicked($event)",
    (onItemClicked)="editClickedList($event)",
    [titleRow]= "true")


bw-modal(#errorModal='')
    bw-modal-header
        h4.modal-title.c-black {{ lastError?.title }}
    bw-modal-body
        div(layout="row", layout-padding, layout-align="center center")
            i.zmdi.zmdi-alert-octagon.c-red.big-icon.m-r-20(flex-none)
            div(layout="column", flex)
                .m-b-10(flex) {{ lastError?.msg }}
                div(*ngFor="let item of lastError?.items", flex)
                    strong {{ item }}
    bw-modal-footer
        bw-button(color="blue", title="Ok", [simple], icon="close", (clicked)="errorModal.close()")
