.activity-feed-header {
    height: 50px;
    border-bottom: 4px gainsboro solid;
    padding: 15px 10px;
    font-size: 18px;
    
    a {
        color: black;
        
    }
}

.activity-feed-body {
    z-index: 2005;
    background-color: white;
}

.activity-feed-footer {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    opacity: 0.3;
    text-align: center;
    z-index: 2003;
    
    i.zmdi {
        font-size: 100px;
    }
}