.enter-data-form-container {
    font-size: 15px;

    .custom-tooltip-header {
        position: absolute;
        top: 15px;
        left: 15px;

        i.zmdi {
            font-size: 20px;
        }
    }
    
    .fullscreen {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 10px;
        z-index: 1;
        align-items: center;

        .table {
            width: 90%;
            margin: 40px;
        }

        .full-screen-buttons {
            position: absolute;
            right: 40px;
            bottom: 15px;
        }
    }
    
    .table {
        box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.16);
        border-radius: 5px;

        .table-header {
            padding: 10px;
            border-radius: 5px 5px 0 0;

            .columns {
                color: white;
                // min-width: 100px;
            }
        }

        .table-body {
            padding: 0 10px;

            .data-row {
                border-bottom: 1px solid lightblue;
            }

            .err-message {
                margin-top: -10px;
                margin-bottom: 10px;
                color: red;
            }
        }
    }

    .full-screen-buttons {
        padding: 10px;

        i:hover  {
            cursor: pointer;
        }
    }

}
