.z-depth-1.bgm-white.m-10.p-10(layout="column", layout-padding)
    div(layout="row", layout-align="center center", *ngIf="loading")
        div(flex="45")
        bw-preloader(flex, color="gray")
    div(*ngIf="!loading", flex)
        kpi-chart-slideshow-form([fg]="fg", [editMode]="true", [slideShowModel]="slideshowModel",
                                     [hidden]="inPreview", (dialogResult)="onDialogResult($event)")
div(*ngIf="inPreview")
    kpi-show-chart-slideshow([slideshow]="slideshow", (onPresentationStopped)="stopPreview()")