bw-select-picker([fg]="fg",
              field="firstDayOfWeek",
              [items]="weekDays",
              [liveSearch]="true",
              liveSearchPlaceholder="... type to seach ...",
              noneSelectedText="Select First Day of Week")
