.simple-kpi-form-container {

    .title {
        font-weight: 400;
        font-size: 22px;
    }

}

.error-message {
    color: rgb(218, 73, 73);
    margin-top: -10px;
}

.new-chart-from-kpi {
    max-width: 99%;
    margin: auto;
}

.new-widget-from-kpi {
    max-width: 1100px;
    margin: auto;
}
.iconzoom {
    position: relative;
    zoom: 2;
    margin-top: -4px;
    margin-left: -6px;
}
.title {
    position: relative;
    margin-top: -20px;
    margin-left: 20px;
    font-size: 17px;
}

.ligth {
    &:hover {
        border: 2px solid #2196f3;
    }    
}