tag-input([ngModel]='items', (onAdd)="onAdd($event)", (onRemove)="onRemove($event)", [editable]='true', [placeholder]="placeholder")
     tag-input-dropdown([showDropdownIfEmpty]="true", [autocompleteItems]="existingTags")
