aside
    header
      a#toggle_sidebar(href="#", (click)="hideSidebar($event)")
        i.zmdi.zmdi-arrow-left
      img.mainlogo(src='./assets/img/logos/{{logoPath}}', height='35px', (click)="onClickLogo()")
    ul
      kpi-sidebar-item(*ngFor="let i of items", [menuItem]="i", [parent]="null")
