@import "../../../assets/styles/declaration";
@import "../../../assets/styles/themes/cosmetic-mixins";
.sign-in-container {
    padding: 40px 70px;
    @include transition(all 0.4s ease-in-out 0s);
    img.logo {
        height: 40px;
    }
    .title {
        font-size: 24px;
        font-weight: bold;
        color: $white-nav;
    }
    button {
        height: 40px;
        font-weight: bold;
    }
    &.mobile {
        .email,
        .password,
        button {
            margin-top: 5px !important;
            @media only screen and (min-width: 320px) and (max-width: 480px) and (aspect-ratio: 3/2) and (orientation: landscape) {
                margin-top: 0 !important;
            }
        }
        #sign-in button{
            margin-top: 35px !important;
        }
    }
    
    @media only screen and (min-width: 320px) and (max-width: 480px) and (aspect-ratio: 3/2) and (orientation: landscape) {
        padding: 0;
    }

    @media screen and (min-width: 480px) and (max-width:824px) {
        img {
            height: 15px !important;
        }
    }

}

.mobile-sign-in-m-t {
    margin-top: 15px !important;
    @media only screen and (min-width: 320px) and (max-width: 480px) and (aspect-ratio: 3/2) and (orientation: landscape) {
        margin-top: 5px !important;
        height: 20px !important;
    }
}

.sign-in-container>div:not(:nth-last-of-type(-n+4)) {
    @media only screen and (min-width: 320px) and (max-width: 568px) and (aspect-ratio: 71/40) and (orientation: landscape) {
        display: table;
        width: 280px;
        margin: 0 !important;

    }
    @media only screen and (min-width: 320px) and (max-width: 568px) and (aspect-ratio: 40/71) and (orientation: portrait) {
        display: table;
        width: 280px;
        margin: 0 !important;
    }
    @media only screen and (min-width: 320px)  and (aspect-ratio: 3/2) and (orientation: landscape) {
        display: table;
        width: 280px;
        margin: 0 !important;
    }
    @media only screen and (min-width: 320px) and (aspect-ratio: 2/3) and (orientation: portrait) {
        display: table;
        width: 280px;
        margin: 0 !important;
    }
}

.size-150 {
    width: 200px;
}