form#login-form(flex, [formGroup]="fg", (ngSubmit)="signIn($event)")
    .sign-in-container.h-100(layout="column", [class.mobile]="mobile")
        //-logo
        div(flex)
            img.m-25.logo(src='/assets/img/logos/logo.png')
        
        //-company
        .m-15(*ngIf="requireCompanyName", flex-none)
            bw-text-box([fg]="fg", required, field="host", label="Company Name", leftIcon="home", [value]="companyInfo.subdomain")
        //-email
        .m-15(flex-none)
            bw-email([fg]="fg", required, field="username", label="Email Address", [value]="companyInfo.email")
        //-password
        .m-t-15.m-r-15.m-t-15.m-b-10(flex-none)
            bw-password([fg]="fg", field="password", label="Password")
        //-auth error message
        .text-center(flex-none, [hidden]="!authError")
            #invalid-credentials.error-message.c-red.animated([ngClass]="{'shake': authError}") {{authErrorMessage}}
        //-action
        .m-t-15.text-center(flex)
            bw-button#sign-in(color="blue", title="SIGN IN", class="normal", [rounded]="true", (clicked)="signIn($event)",
                        [disabled]="!canSignIn", type="submit", [block]="true" )
        //-link to signup
        .m-t-15(flex).text-center
            bw-button(color="white", title="Create account", class="normal", [rounded]="true",
             (clicked)="goToSignup($event)", [block]="true", type="button" )
        .m-t-15(flex).text-center
            a(href="#", (click)="forgotPassword($event)") Forgot Password