.activity-icon {
    width: 70px;
    height: 70px;
    i.zmdi {
        width: 60px;
        height: 60px;
        margin: 5px;
        background-color: #b7c4e2;
        color: white;
        border-radius: 50%;
        font-size: 35px !important;
        padding: 12px;
    }
}

.activity-header {
    font-weight: bold;
}

.activity-content {
    height: 80px;
}

strong {
    font-weight: bold;
}