.daysWeek {
    background-color: grayscale($color: #e8e4e4);
    padding-top: 15px;
}
.top-16 {
    margin-top: -16px;
}
.top-10 {
    margin-top: -18px;
}
.textcenter {
    text-align-last: center;
}
.marg-centerTo {
    margin-left:105px;
}
.marg-centerFrom {
    margin-left: 170px;
}
.cursor:hover {
    cursor: pointer;  
}
.font{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.show_row_reset {
    cursor: not-allowed;  
    text-align: center;
}
