.search-notifications
    .search-notifications__list.bgm-white.z-depth-1.p-20(*ngIf="!loading && notifications?.length; else noNotifications")
        .search-notifications__data-row(*ngFor="let n of notifications", layout-gt-sm="row", layout-xs="column")
            .search-notifications__data-row--timestamp 
                i.zmdi.zmdi-email(*ngIf="n.deliveryMethod === 'email'")
                i.zmdi.zmdi-smartphone-android(*ngIf="n.deliveryMethod === 'push'")
                span {{ n.timestamp | date }}
            .search-notifications__data-row--message([innerHTML]="n.message")

ng-template(#noNotifications)
    .text-center
        h3.lead No notifications found

kpi-spinner(*ngIf="loading")
        
