.activity-icon {
    width: 70px;
    height: 70px;
    i.zmdi {
        font-size: 70px;
        color: red;
    }
}

.activity-header {
    font-weight: bold;
}

.activity-content {
    height: 100px;
}

strong {
    font-weight: bold;
}