.activity(flex, layout="row")
    .activity-icon
        i.zmdi.zmdi-portable-wifi-changes
    .flex(layout="column")
        .activity-content(layout="row")
            .flex(layout="column")
                .activity-header.m-b-10 TARGETS
                .activity-body Target for 
                    strong {{ targetName }} 
                    | dued on {{ target.datepicker | date:'MM/dd/y' }} for the amount of {{ target.target | currency }} was 
                    strong {{ status }} 
                    | with an amount of 
                    strong {{ salesAmount | currency }}!

            .activity-detail-icon
                i.zmdi.zmdi-eye((click)="showDetails()")
    
        div.users-activity-border(*ngIf="viewDetails", layout="row")
            i.zmdi.zmdi-close((click)="hideDetails()")
