.h-100(*ngIf = "vm.listEmpty")
    kpi-no-funnel

kpi-item-list(
    *ngIf="!vm.listEmpty",
    title="Funnels",
    [items]="vm.funnelItems",
    [itemViewModel]="vm",
    [addItemActivityName]="'AddFunnelActivity'",
    [itemListActivityName]="actionActivityNames",
    itemType="standard",
    (onAddActionClicked)="nothing()",
    (onItemActionClicked)="nothing($event)",
    (onItemClicked)="nothing($event)")

