.target-list {
    .target-item {
        cursor: pointer;
        &.selected { background-color: white; }
    }
}


button {
    // position: absolute;
    left: 15px;
    bottom: 15px;

    i {
        font-size: 20px;
    }

}

.list-item-tabular {
        margin-left: 20px;
        // margin-left:-10px;
}