bw-select-picker([fg]="fg",
              field="defaultCurrency",
              [items]="currencies",
              [liveSearch]="true",
              liveSearchPlaceholder="... type to seach ...",
              noneSelectedText="Default Currency")
