.funnel-container(*ngIf="renderedFunnel", layout="column", layout-align="center center")
    .funnel-name.m-10(flex-initial) {{ renderedFunnel?.name }}

    .funnel-with-legend(flex, layout="row")

        .funnel-body(flex, layout="column",
                    [style.width.px]="width",
                    [style.height.px]="height")
            .stage(*ngFor="let stage of renderedFunnel?.stages",
                [style.background-color]="stage.background",
                [style.color]="stage.foreground",
                [style.height.px]="calcStageHeight(stage)")
                kpi-funnel-preview-stage([stage]="stage")
        .funnel-legend(*ngIf="!preview", 
                flex-initial,  
                layout="column",
                layout-align="center end",
                [style.width.px]="width / 2",
                [style.height.px]="height")
            .stage-description.w-100(flex *ngFor="let stage of renderedFunnel?.stages",
                                     [style.height.px]="calcStageHeight(stage)")
                .stage-description-line
                    span.stage-description-text
                       | {{ generateStageDescription(stage) }}
                       