.funnel-container(layout="column", layout-align="center center")
    .funnel-name.m-10(flex-initial) {{ renderedFunnel?.name }}

    .funnel-body(flex, layout="column")
        .stage(flex, [style.background-color]="'#FF3D00'", [style.min-height.px]="150")
        .stage(flex-initial, [style.background-color]="'#FF6F00'", [style.min-height.px]="100")
        .stage(flex-initial, [style.background-color]="'#FFC107'", [style.min-height.px]="80")    
        .stage(flex, [style.background-color]="'#4CAF50'", [style.min-height.px]="60")
        .stage(flex-initial, [style.background-color]="'#304FFE'", [style.min-height.px]="30")