 .hide-inspector {
    vertical-align: top;
 }

.chart-icon {
    vertical-align: middle;
}

.confirm-icon {
    font-size: 48px !important;
    opacity: 0.9;
}

 .chart-title{
     font-size: 1.1em;
     font-weight: bold;
     color: #333;
     vertical-align: middle;
     overflow-wrap: break-word;
 }