bw-select-picker.p-20([fg]="fg", 
                label="Frequency"
                field="frequency",
                [items]="frequencyList",
                [leftIcon]="icon",
                [liveSearch]="true",
                noneSelectedText="NOTHING SELECTED",
                [required]="required")  