bw-modal(size="lg",#connectCustom='')
    .h-100.p-relative(layout="row", layout-xs="column")
      .left-panel(flex="40", flex-xs="100", layout="column")
        .custom-tooltip-header(layout="row", layout-padding)
          div(flex-initial)
            i.zmdi.zmdi-storage
          div(flex-initial)
            .p-t-5.p-l-15 Enter or import your data
        .custom-tooltip-body(layout="column")
          .import-file-button(layout="row", [ngClass]="{'selected-input-type': vm.selectedInputType === 'import'}", (click)="toogleSelectedInputType('import')")
            img(src="{{ importFilePath }}", alt="Import file image")
            .f-15.p-t-30 Import your file

          .input-data-button(layout="row", [ngClass]="{'selected-input-type': vm.selectedInputType === 'manually'}", (click)="toogleSelectedInputType('manually')")
            img(src="{{ enterDataPath }}", alt="Enter data image")
            .f-15.p-t-30 Enter your data manually

      .right-panel(flex="60", flex-xs="100", layout="column", layout-padding)
        kpi-import-file(*ngIf="vm.selectedInputType === 'import'", (dialogResult)="processDialogResult($event)")
        kpi-data-manually.data-manually.overflow-auto(*ngIf="vm.selectedInputType === 'manually'", (dialogResult)="processDialogResult($event)")