.left-panel {
    background: rgb(231, 230, 230);
    min-height: 320px;

    .custom-tooltip-header {
        margin: 20px;

        i.zmdi {
            font-size: 30px;
        }
    }
    
    .custom-tooltip-body {
        img {
            height: 60px;
            width: 60px;
        }
    }
   
    .import-file-button, .input-data-button {
        padding: 10px 0px;
        cursor: pointer;

        img {
            margin: 10px 10px 10px 30px; 
        }
    }

    .selected-input-type {
        background-color: white;
    }
}

.right-panel {
    height: 70vh;
    margin-top: 30px;
}

