.edit-kpi-container(layout="column", layout-padding)

    div(*ngIf="!isLoading", flex, [ngSwitch]="vm.selectedType")
    
        kpi-simple-kpi-form(editing="true", *ngSwitchCase="1", #simpleForm, [model]="vm.kpi")
        
        kpi-complex-kpi-form(*ngSwitchCase="2", #complexForm, [model]="vm.kpi")

        kpi-external-source-kpi-form(*ngSwitchCase="4", #externalSourceForm, [model]="vm.kpi")
