kpi-item-list(
    title="CHART LIST",
    [items]="vm.chartsList",
    [itemViewModel]="vm",
    [addItemActivityName]="'AddChartActivity'",
    [itemListActivityName]="'ListChartActivity'",
    [actionItems] = "vm.menuItems",
    itemType="table",
    [tableRowTemplate]="tableItem",
    (onAddActionClicked)="addChart()",
    (onItemActionClicked)="actionClicked($event)",
    (onItemClicked)="editClickedList($event)")


bw-modal(#errorModal='', animation="true", keyboard="true", backdrop="true")
    bw-modal-header
        h4.modal-title-c-black {{ lastError?.title }}

    bw-modal-body
        div(layout="row", layout-padding, layout-align="center center")
            i.zmdi.zmdi-alert-octagon.c-red.big-icon.m-r-20(flex-none)
            div(layout="column", flex)
                .m-b-10(flex) {{ lastError?.msg }}
                div(*ngFor="let item of lastError?.items", flex)
                    strong {{item}}
    bw-modal-footer
        bw-button(color="blue", title="OK", [simple]="true", icon="close", (clicked)="errorModal.close()")
