.add-button {
    z-index: 1000;
    position: absolute;
    right: 20px;
    transition: all .3s ease;
}

.inspector-margin {
    margin-right: 305px;
}

.transition {
    transition: all .3s ease;
}

.box-margin {
    margin-left: 5px;
    margin-right: 15px;
    padding: 3px 0px;
}

.mobile-chart-fit-content {
    // width: fit-content;
    // zoom: 0.9;
    @media only screen and (min-width: 375px) and (max-width: 667px) and (aspect-ratio: 375/667) and (orientation: portrait) {
        width: min-content;
        zoom: 0.7;
    }
    @media only screen and (min-width: 320px) and (max-width: 568px) and (aspect-ratio: 40/71) and (orientation: portrait) {
        width: min-content;
        zoom: 0.7;
    }
    @media only screen and (min-width: 320px) and (max-width: 480px) and (aspect-ratio: 2/3) and (orientation: portrait) {
        width: min-content;
        zoom: 0.7;
    }
}