.h-100(layout="row")
    
    //- add button
    .add-button([ngClass]="{'inspector-margin': (inspectorOpen$ | async)}")
        bw-button(flex-none, color="blue", icon="plus", size="sm", [disabled]="!vm.authorizedTo('AddChartActivity')", [circular]="true", (clicked)="addChart()" )

    //- chart container
    .h-100.overflow-auto.transition.p-relative.mobile-chart-fit-content(flex, 
        detect-scroll,
        (onScroll)="handleScroll($event)",
        [bottomOffset]="100",
        [topOffset]="100")


        div(layout="row", layout-wrap, layout-padding, layout-align="start start")
            .box(
                [ngClass]="{'box-margin': (inspectorOpen$ | async)}",
                flex-xs="100",
                flex-gt-xs="50",
                flex-gt-md="33",
                flex-gt-lg="25",
                *ngFor="let chart of visibleCharts")
                    kpi-chart-view-mini.pointer-cursor([item]="chart")
    //- chart inspector
    div([ngClass]="{'flex-5': (inspectorOpen$ | async)}")
        //- div(flex-none)
        .right_sidebar.h-100([ngClass]="{'right_sidebar_open': (inspectorOpen$ | async)}")
            kpi-chart-inspector