kpi-item-list(
    title="CHART LIST",
    [items]="vm.chartsList",
    [itemViewModel]="vm",
    [addItemActivityName]="'AddChartActivity'",
    [itemListActivityName]="actionActivityNames",
    [actionItems] = "vm.menuItems",
    itemType="table",
    [tableRowTemplate]="tableItem",
    (onAddActionClicked)="addChart()",
    (onItemActionClicked)="actionClicked($event)",
    (onItemClicked)="editClickedList($event)")

//- confirm remove widget modal
app-remove-confirmation([element]="'chart'", (dialogResult)="onDialogResult($event)")

//- error modal
app-error([error]="lastError")
