.accessLevels-header {
    font-family: Arial, Helvetica, sans-serif;
}

.filter-form-container {
    .users {
        .zmdi {
            font-weight: bold;
            color: black;
        }
    }

    .permitType {
        .zmdi {
            font-weight: bold;
            color: black;
        }
    }
}