bw-select-picker.p-20(flex-none, [fg]="fg", 
                              label="Grouping",
                              field="groupings",
                              [items]="groupingList",
                              [leftIcon]="icon",
                              [liveSearch]="true",
                              noneSelectedText="NOTHING SELECTED")  