
.m-t-15.m-b-15(*ngIf="!fg.valid || !fg.pristine")
    kpi-form-milestone-target([fg]="fg", [index]="index", [userList]="userList")

.milestone-line(*ngIf="fg.valid && fg.pristine", layout="row", layout-align="center center")
    //- status
    div(flex-initial) 
        p.status(class="{{line.status}}") {{ line.status }}
    //- task
    div(flex) 
        .title {{ line.task }}
        .subtitle {{ line.dueDate }}
    //- responsible(s)
    div(flex-initial)
        span.responsible(*ngFor="let r of responsibleList") {{ r }}
    //- actions
    div(flex-initial)
        bw-actions([actionItems]="actionItems", (actionClicked)="actionClicked($event)")
