.firstName {
    text-align: right;
    margin-top: 15px;
    font-size: 0.8em;
}
.lastName {
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 0.8em;
}
.userRow:hover {
    cursor: pointer;
    background-color: lightgray;
}