bw-modal(#errorModal='', animation="true", keyboard="true", backdrop="true")
    bw-modal-header
        h4.modal-title-c-black {{ error?.title }}

    bw-modal-body
        div(layout="row", layout-padding, layout-align="center center")
            i.zmdi.zmdi-alert-octagon.c-red.big-icon.m-r-20(flex-none)
            div(layout="column", flex)
                .m-b-10(flex) {{ error?.msg }}
                div(*ngFor="let item of error?.items", flex)
                    strong {{item}}
    bw-modal-footer
        bw-button(color="blue", title="OK", [simple]="true", icon="close", (clicked)="close()")