div(layout="row", layout-wrap, layout-padding, *ngIf="vml.milestoineItems")
    kpi-list-item-tabular.w-100(
        *ngFor="let item of vml.milestoineItems",
        [item]="item",
        [actionItems]="vml.menuItems",
        [tableRowTemplate]="tableRowTemplate",
        (click)="itemClicked($event, item)",
        (actionClicked)="actionClicked($event)")