.hv-100.animated.fadeIn(layout="row", layout-xs="column")
    kpi-background(*ngIf="!mobile && !(authenticated$ | async) || hideLayout", image="/assets/img/backgrounds/background-signup.jpg")
    //- demo mode
    kpi-demo-options(*ngIf="demoMode && (authenticated$ | async)")
    //- side bar
    .sidebar.left_side.hv-100(*ngIf="(authenticated$ | async) && !hideLayout", flex-none, [class.menu_margin]="sideBarOpen")
        kpi-sidebar
    //- main content
    .main-content(flex)
        .hv-100(layout="column")
            header(*ngIf="(authenticated$ | async)  && !hideLayout", flex-none)
                kpi-header([sideBarOpen]="true")
            .app-body.overflow-auto(flex)
                router-outlet
                footer
                    kpi-footer

bw-modal(#userAgreementModal='', [backdrop]="agreementBackdrop")
    bw-modal-body
        kpi-user-agreement(#userAgreement, [username]="username", (done)="signInAgreement($event)")