.item-list-container( layout="column", layout-padding)
    //- show the add button
    kpi-add-item(*ngIf="allowAdd", [itemViewModel]="itemViewModel", [addItemActivityName]="addItemActivityName", (onItemClicked)="addClicked()")

    .m-b-5(flex-initial)
        .header-content.flex(layout="column")
            .flex(layout="row")
                .title-desktop(flex="0", flex-gt-xs="100")
                    .list-title(*ngIf="title") {{ title }}
                .flex(layout="row", layout-align="center")
                    .m-10.text-center(flex-initial)
                        .search-box([formGroup]="fg")
                            input.search-box(formControlName="search", placeholder="Type to filter...", type="text")
                    .m-t-15.m-r-10.text-center(flex-initial, layout="row")
                        bw-actions(*ngIf="sortItemsLength", [showBig]="true", [actionItems]="sortItems", (actionClicked)="onOrderList($event)")
                        bw-actions(*ngIf="viewItems", [showBig]="true", [actionItems]="viewItems", (actionClicked)="onViewItem($event)")
            .title-mobile.text-center(flex, flex-gt-sm="0", layout-padding)
                .list-title(*ngIf="title") {{ title }}

    .overflow-auto(flex)

        //- standard items
        div(*ngIf="showStandardItems", layout="row", layout-wrap, layout-padding)
            kpi-list-item-standard(
                [attr.flex-xs]="xsSize", [attr.flex-gt-sm]="smSize", [attr.flex-xl]="xlSize", [attr.flex-gt-xs]="gtxsSize",
                *ngFor="let item of filteredItems",
                [item]="item",
                [actionItems]="actionItems",
                [standardItemTemplate]="standardItemTemplate",
                (click)="itemClicked($event, item)",
                (actionClicked)="itemActionClicked($event)")

        //- table view
        .tabular-container.bgm-white.z-depth-1.header-font.p-10.m-l-10.m-r-10(*ngIf="showTabularItems && !isMobile && titleRow", layout="column", layout-gt-sm="row")
           
            .titles.div.p-l-25
                .m-t-10.m-l-10 
                    h2.title Name
            //- title & subtitle
            
            .data
                .m-t-10.m-l-10 
                    h2.title Created
            .data
                .m-t-10.m-l-20 
                    h2.title Last Updated
            .action.p-r-20
                .m-t-10.m-l-5 
                    h2.title ACTIONS
            
                
        .tabular-container.bgm-white.z-depth-1.p-20.m-l-10.m-r-10.m-b-20(*ngIf="showTabularItems && !isMobile", layout="column", layout-gt-sm="row")
            div(flex)
                kpi-list-item-tabular(
                    *ngFor="let item of filteredItems",
                    [item]="item",
                    [actionItems]="actionItems",
                    [tableRowTemplate]="tableRowTemplate",
                    (click)="itemClicked($event, item)",
                    (actionClicked)="itemActionClicked($event)")

        .tabular-container-mobile.bgm-white.z-depth-1(*ngIf="showTabularItems  && isMobile", layout="column", layout-gt-sm="row")
            div(flex)
                kpi-list-item-tabular(
                    *ngFor="let item of filteredItems",
                    [item]="item",
                    [actionItems]="actionItems",
                    [tableRowTemplate]="tableRowTemplate",
                    (click)="itemClicked($event, item)",
                    (actionClicked)="itemActionClicked($event)",
                    [rowCount]="rowsCount")

    
        //- future implementation
        //- div(*ngIf="showSmallItems", layout="row", layout-wrap, layout-padding)
        //-     kpi-list-item-small(*ngFor="let item of items", [item]="item")
        
        //- future implementation
        //- div(*ngIf="showBigItems", layout="row", layout-wrap, layout-padding)
        //-     kpi-list-item-big(*ngFor="let item of items", [item]="item")