@import '../../../../../assets/styles/_declaration';
.no-data-message {
    font-family: cursive;
    position: relative;
    top: -100px;
    display: block;
    color: $lightGray;
    @include bold();
}

.div-map {
    width: 80%;
}
