.z-depth-1.bgm-white.m-10.p-10(*ngIf="ready$ | async", layout="column")
        div(flex, layout-xs="column", layout-gt-sm="row", layout-align="center center")
      
            .funnel-form(flex)
                kpi-funnel-form([funnelModel]="funnelModel")

            //- to be a funnel preview component
            .funnel-preview.p-15(flex, layout="column", layout-align="center center")
                p.text-center.m-b-15(flex-initial) Funnel Preview:

                div(flex)
                    p.m-b-20 THE PREVIEW GOES HERE
                    kpi-funnel-preview

                  
        div(flex-initial)
                .m-t-25.m-b-5(layout="row", layout-padding, layout-align="end end")
                    bw-button(flex-initial, color="blue", title="Save", icon="floppy",
                                            class="normal")
                    bw-button(flex-initial, color="gray", [simple]="true", title="Cancel", icon="close",
                                            class="normal")