div.bgm-white.p-40(layout="column")
  //- atlas logo
  div.text-center.p-b-40(flex-initial)
    img.h-80(src='./assets/img/logos/logo.png')
  //- before continue text
  div.p-b-20(flex)
    p.c-duke-blue
      | Before continuing using our system, please take a moment to review our terms and conditions:
  div.p-30.user-agreement(flex)
    p.text-center.c-duke-blue.p-b-20
      strong.text-xx-large AtlaskKPI Terms of Use &amp; Services Agreement
    p.p-b-10
        strong AtlasKPI TERMS OF USE &amp; SERVICES AGREEMENT
    p.p-b-20
      | This Agreement governs your purchase of a license to use of our services. The parties agree as follows:
      br
      |  IF YOU REGISTER FOR A FREE VERSION OF THE SERVICE OR A FREE TRIAL OF THE SERVICE, THE APPLICABLE PROVISIONS OF THIS AGREEMENT ALSO GOVERN YOUR
      |     USE OF THOSE SERVICES.
    p
      | BY ACCEPTING THIS AGREEMENT, BY CHECKING THE “I AGREE” BOX OR BY EXECUTING A SUBSCRIPTION AGREEMENT THAT REFERENCES THIS AGREEMENT, YOU AGREE TO THE TERMS OF THIS AGREEMENT. IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL
      | ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY AND YOUR AFFILIATES TO THESE TERMS AND CONDITIONS. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT
      | AND MAY NOT USE THE SERVICE.
    p
      strong 1. DEFINITIONS
    p
      | 1.1 "Affiliate" means any entity that, directly or indirectly, controls, is controlled by or is under common control with such entity (but only for so long as such control exists), where "control" means the ownership of more than 50% of the outstanding
      | shares or securities representing the right to vote in the election of directors or other managing authority of such entity.
    p
      | 1.2 "Agreement" means this AtlasKPI Services Agreement and any Service Orders you enter into with us.
    p
      | 1.3 "Authorized User" means an individual who is your employee or contractor, your Affiliate’s employee or contractor, or a Permitted Third Party’s employee or contractor who you allow to create a unique username and password under your account.
    p
      | 1.4 "Client Software" means software components to be installed on your, your Affiliates’, or your Authorized Users’ computer systems or devices, including but not limited to AtlasKPI Workbench.
    p
      | 1.5 "Documentation" means our user documentation, in all forms, relating to the Service (e.g., user manuals, on-line help files, etc.).
    p
      | 1.6 "Permitted Third Party" means an entity under contract with you or your Affiliates who needs to access the Service to perform its obligations to you or your Affiliates and who is not our competitor.
    p
      | 1.7 "Professional Services" means the professional services specified in a Service Order, potentially including but not limited to implementation services, consulting, and training services.
    p
      | 1.8 "Service" means the service identified in the Service Order, as we may modify the service from time to time in our discretion.
    p
      | 1.9 "Service Order" means an ordering document entered into between you and us specifying the services to be provided thereunder, including any addenda and supplements thereto. By entering into a Service Order under this Agreement, an Affiliate agrees
      | to be bound by the terms of this Agreement as if it were an original party to the Agreement.
    p
      | 1.10 "Subscriber Data" means any data uploaded into the Service, or otherwise provided for processing by the Service, by or on behalf of you and your Affiliates in accordance with this Agreement.
    p
      | 1.11 "Subscription Fees" means the fees for the Service specified in the Service Order.
    p
      | 1.12 "Technical Support Services" means our then-current technical support services offered.
    p
      | 1.13 "We" or "Us" or "Our" means AtlasKPI, LLC. or its designated Affiliate as specified in a Service Order or invoice.
    p
      | 1.14 "You" or "Your" or "Subscriber" means the customer named on the Service Order, the person indicating acceptance of this Agreement, or if the person indicating acceptance of this Agreement is acting on behalf of a company or other legal entity, such
      | company or legal entity.
    p
      strong 2. FULL AtlasKPI SERVICE; FREE VERSIONS AND FREE TRIALS
    p
      | 2.1 Full AtlasKPI Service. We offer various versions of our Service. The most comprehensive version of the Service requires payment for continued use of the Service. The version of the Service that requires payment is currently referred to as "Full AtlasKPI
      | Service."
    p
      | 2.2 Free Versions. Certain versions of the Service may be provided to you free-of-charge. The versions of the Service that do not require payment to be accessed are currently referred to as "Free Versions."
    p
      | 2.3 Free Trials. From time to time, we may offer trials of the Full AtlasKPI Service for a specified period of time without payment or at a reduced rate (each, a "Free Trial"). If you register on our website or via a Service Order for a Free Trial, we
      | will make the Service available to you under the Free Trial until the earlier of (a) the end of the Free Trial period for which you registered to use the Service, or (b) the start date of any Full AtlasKPI Service subscription ordered by you for such
      | Service, or (c) termination by us in our sole discretion. Additional Free Trial terms and conditions may appear on the Free Trial registration web page. Any such additional terms and conditions are incorporated into this Agreement by reference and
      | are legally binding. We reserve the right, in our absolute discretion, to determine your eligibility for a Free Trial, and, subject to applicable laws, to withdraw or to modify a Free Trial at any time without prior notice and with no liability, to
      | the greatest extent permitted under law. ANY DATA YOU ENTER INTO THE SERVICE, AND ANY CONFIGURATION CHANGES MADE TO THE SERVICE BY OR FOR YOU, DURING YOUR FREE TRIAL WILL BE PERMANENTLY LOST UNLESS YOU PURCHASE A SUBSCRIPTION TO THE SAME SERVICE AS
      | THOSE COVERED BY THE FREE TRIAL OR EXPORT SUCH DATA, BEFORE THE END OF THE FREE TRIAL PERIOD. YOU CANNOT TRANSFER DATA ENTERED OR CONFIGURATION CHANGES MADE DURING THE FREE TRIAL TO A FREE VERSION OF THE SERVICE, UNLESS THE DATA ENTERED OR CONFIGURATION
      | CHANGES ARE TO FEATURES AVAILABLE IN THE FREE VERSIONS; THEREFORE, YOU MUST EXPORT YOUR DATA BEFORE THE END OF THE TRIAL PERIOD OR YOUR DATA WILL BE PERMANENTLY LOST. Please review the applicable Documentation for the Service during the Free Trial
      | period so that you become familiar with the functionality and features of the Service before you make your purchase.
    p
      | 2.4 Inapplicable Provisions. NOTWITHSTANDING SECTION 9 (WARRANTIES AND DISCLAIMER), BETA VERSIONS, FREE VERSIONS, AND FREE TRIALS OF THE SERVICE ARE PROVIDED "AS-IS" WITHOUT ANY WARRANTY AND SECTION 10 (INTELLECTUAL PROPERTY INFRINGEMENT INDEMNIFICATION)
      | DOES NOT APPLY TO BETA VERSIONS, FREE VERSIONS, OR FREE TRIALS OF THE SERVICE.
    p
      strong 3. USE OF THE SERVICE
    p
      | 3.1 Use of the Service. Subject to the terms and conditions of this Agreement, we grant to you and your Affiliates a limited, worldwide, non-exclusive, non-transferable (except as explicitly permitted in this Agreement) right during the term of this Agreement
      | to use the Service solely in connection with your internal business operations. Your and your Affiliates’ rights to use the Service are subject to any limitations on use of the Service based on the version of the Service you register for (e.g., applicable
      | usage limits) and as set forth in the Service Order (collectively, the "Scope Limitations") and your rights to use the Service are contingent upon your compliance with the Scope Limitations and this Agreement. As part of the Service, we may provide
      | you and your Affiliates with Client Software, which you and your Affiliates may install on your computer system or other devices and use solely to upload Subscriber Data into the Service. You are solely responsible for your conduct (including by and
      | between all users), the content of Subscriber Data, and all communications with others while using the Service. You acknowledge that we have no obligation to monitor any information on the Service, but we may remove or disable any information that
      | you make publicly available on the Service at any time for any reason or for no reason at all. We are not responsible for the availability, accuracy, appropriateness, or legality of Subscriber Data or any other information you may access using the
      | Service.
    p
      | 3.2 Use of the Documentation. Subject to the terms and conditions of this Agreement, we grant to you and your Affiliates a limited, worldwide, non-exclusive, non-transferable (except as explicitly permitted in in this Agreement) right during the term
      | of this Agreement to reproduce, without modification, and internally use a reasonable number of copies of the Documentation solely in connection with use of the Service in accordance with this Agreement.
    p
      | 3.3 Use Restrictions. Except as otherwise explicitly provided in this Agreement or as may be expressly permitted by applicable law, you will not, and will not permit or authorize your Affiliates or third parties to: (a) rent, lease, or, except as explicitly
      | set forth in this Agreement, otherwise permit third parties to use the Service, Client Software, or Documentation; (b) use the Service to provide services to third parties as a service bureau or in any way that violates applicable law; (c) circumvent
      | or disable any security or other technological features or measures of the Service, or attempt to probe, scan or test the vulnerability of a network or system, or to breach security or authentication measures; (d) upload or provide for processing
      | any information or material that is illegal, defamatory, offensive, abusive, obscene, or that violates privacy or intellectual property rights of any third party; (e) use the Service to harm, threaten, or harass another person or organization; or
      | (f) send, store, or distribute any viruses, worms, Trojan horses, or other disabling code or malware component harmful to a network or system. You will not copy, reproduce, modify, translate, enhance, decompile, disassemble, reverse engineer, or create
      | derivative works of any Client Software or provide, disclose, or make any Client Software available to any third party, except that you may make one copy of Client Software solely for backup and archival purposes. You will neither alter nor remove
      | any trademark, copyright notice, or other proprietary rights notice that may appear in any part of the Documentation or any Client Software and will include all such notices on any copies. You will ensure that your Affiliates, Permitted Third Parties,
      | and Authorized Users comply with this Agreement. You will be directly and fully responsible to us for their conduct and any breach of this Agreement by them. We reserve the right to deactivate, change, or require you to change your user ID and any
      | custom or vanity URLs, custom links, or vanity domains you may obtain through the Service for any reason or for no reason. We may exercise such right at any time, with or without prior notice.
    p
      | 3.4 Authorized Users Only. This Agreement restricts the use of the Service to Authorized Users, up to the number of users specified in the Service Order. An Authorized User account must not be shared among users. Additional Authorized Users may be added
      | by paying the applicable fees to us at our then-current rate or as otherwise specified in a Service Order. The Authorized Users who are employees of Permitted Third Parties may access and use the Service solely to perform the Permitted Third Party’s
      | contractual obligations to you subject to the use limitations set forth in this Agreement. As part of the registration process, you may be asked to identify your company and other Authorized Users who should be associated with your account. You will
      | not misrepresent the identity or nature of the company or Authorized Users who should be associated with your account. We may reassign the domain name associated with your account and change the way you access the Service at any time in our sole discretion.
      | You are responsible for maintaining the confidentiality of your login, password, and account and for all activities that occur under your login and account, including the activities of Authorized Users.
    p
      | 3.5 Protection against Unauthorized Use. You will, and will ensure that your Affiliates, Permitted Third Parties, and Authorized Users use reasonable efforts to prevent any unauthorized use of the Service, Client Software, and Documentation, and you will
      | immediately notify us in writing of any unauthorized use that comes to your attention. If there is unauthorized use by anyone who obtained access to the Service, Client Software, or Documentation directly or indirectly through you, your Affiliate,
      | a Permitted Third Party, or an Authorized User, you will take all steps reasonably necessary to terminate the unauthorized use. You will cooperate and assist with any actions taken by us to prevent or terminate unauthorized use of the Service, Client
      | Software, or Documentation. We may, at our expense and no more than once every 12 months with reasonable notice, appoint our own personnel or an independent third party to verify that your use of the Service complies with the terms of this Agreement.
    p
      | 3.6 Beta Versions. From time to time, we may make available for you to try, at your sole discretion, certain functionality related to the Service, which is clearly designated as beta, pilot, limited release, non-production, or by a similar description
      | (each, a "Beta Version"). Beta Versions are intended for evaluation purposes and not for production use, are not supported, and may be subject to additional terms. We may discontinue Beta Versions at any time in our sole discretion and may never make
      | them generally available. We have no liability for any harm or damage arising out of or in connection with a Beta Version.
    p
      | 3.7 Reservation of Rights. We retain all right, title, and interest in and to the Service, Client Software and Documentation and all related intellectual property rights, including without limitation any modifications, updates, customizations, cards,
      | apps, or other add-ons. Your rights to use the Service, Documentation, and Client Software are limited to those expressly set forth in this Agreement. We reserve all other rights in and to the Service, Client Software, and Documentation.
    p
      | 3.8 Service Availability. We perform and maintain regular database backups according to the retention policy appropriate for the particular system. We incorporate database and system maintenance operations and processes designed to address data consistency,
      | indexing, and integrity requirements that also help improve query performance. We have implemented and will maintain commercially reasonable measures intended to avoid unplanned Service interruptions. We will use commercially reasonable efforts to
      | notify you in advance of planned Service interruptions. In the event of an unplanned Service interruption, you may contact us for Technical Support Services, as described in this Agreement. The Service depends on the availability of the Subscriber
      | Data from you and third-party data providers. You are responsible for making the Subscriber Data available that is necessary for us to provide the Service.
    p
      strong 4. PROFESSIONAL SERVICES AND TECHNICAL SUPPORT SERVICES
    p
      | 4.1 Professional Services. You may contract with us to perform Professional Services. The specific details of the Professional Services to be performed will be determined on a per-project basis, and the details for each project will be described on the
      | Service Order. Unless otherwise specified in the applicable Service Order, any unused portion of the Professional Services and training will expire and may not be carried over after 12 months from the Service Order effective date.
    p
      | 4.2 Technical Support Services. We will provide you with the applicable Technical Support Services for the version of the Service to which you are subscribed so long as you are current in payment of the Subscription Fees (if applicable). You are responsible
      | for providing support to Permitted Third Parties.
    p
      | 4.3 Your Responsibilities. You will provide assistance, cooperation, information, equipment, data, a suitable work environment, and resources reasonably necessary to enable us to perform the Professional Services and Technical Support Services. You acknowledge
      | that our ability to provide Professional Services as described in the Service Order and Technical Support Services may be affected if you do not meet your responsibilities as set forth above.
    p
      | 4.4 Feedback and Other Content. The Service may permit you, your Affiliates, Authorized Users, and Permitted Third Parties to submit feedback, user community contributions and comments, technical support information, suggestions, enhancement requests,
      | recommendations, and messages relating to the use and operation of the Service. You grant to us a royalty-free, fully paid, non-exclusive, perpetual, irrevocable, worldwide, transferable license to display, use, copy, modify, publish, perform, translate,
      | create derivative works from, sublicense, distribute, and otherwise exploit such content without restriction.
    p
      strong 5. FEES AND PAYMENT
    p
      | 5.1 Fees and Payment Terms. Unless otherwise specified in a Service Order, the Subscription Fees for the initial subscription term and Professional Service fees set forth in the Service Order are due upon execution of the Service Order. After the initial
      | subscription term, Subscription Fees will be invoiced annually at the then-current rate for the Service or as otherwise specified in a Service Order, 30 days in advance of the start of each renewal period. Fees for additional Service quantities and
      | Professional Services will be charged at the time of order, unless otherwise agreed in writing by the parties. The charges in an invoice will be considered accepted by you unless we are notified of a good faith dispute in writing within 60 days of
      | the date of the invoice. Unless expressly provided otherwise in a Service Order, all amounts payable under this Agreement are denominated in United States dollars, and you will pay all such amounts in United States dollars.
    p
      | 5.2 Credit Card. If you use a credit card to set up an account or pay for the Service, you must be authorized to use the credit card information that you enter when you create the billing account. You authorize us to charge you for the Service using your
      | credit card and for any paid feature of the Service that you choose to sign up for or use under this Agreement. We may bill: (a) in advance; (b) at the time of purchase; (c) shortly after purchase; or (d) on a recurring basis for a subscription to
      | the Service. If you set up a Free Trial using a credit card or if you paid the Subscription Fees using a credit card, you agree that we may automatically charge your credit card account the applicable Subscription Fee when the Free Trial ends or renew
      | your subscription and charge your credit card account on the one-year anniversary of your last subscription date (the "Renewal Date"), unless you cancel your subscription before the end of the Free Trial or the Renewal Date (as applicable). We will
      | automatically renew your subscription each year on the Renewal Date until you terminate your subscription or we no longer offer the Service to which you subscribed. We may charge you up to the amount you approve, and we will notify you in advance
      | of the difference for recurring Subscription Fees. You must keep all information in your billing account current. You may change your payment method at any time. If you tell us to stop using your payment method and we no longer receive payment from
      | you for a Service that requires payment, we may terminate your access to that Service.
    p
      | 5.3 Late Payment. Any amount not paid when due will be subject to finance charges equal to 1.5% of the unpaid balance per month or the highest rate permitted by applicable usury law, whichever is less, determined and compounded monthly from the date due
      | until the date paid. You will reimburse any costs or expenses (including, but not limited to, reasonable attorneys’ fees) incurred by us to collect any amount that is not paid when due. Amounts due from you under this Agreement may not be withheld
      | or offset by you against amounts due to you for any reason.
    p
      | 5.4 Taxes. The fees stated in a Service Order do not include local, state, federal, or foreign taxes (e.g., value-added, sales, or use taxes), or fees, duties, or other governmental charges resulting from this Agreement ("Taxes"). You are responsible
      | for paying all applicable Taxes. If we determine that we have the legal obligation to pay or collect Taxes, we will add such Taxes to the applicable invoice and you will pay such Taxes, unless you provide us with a valid tax exemption certificate
      | from the appropriate taxing authority. If a taxing authority subsequently pursues us for unpaid Taxes for which you are responsible under this Agreement and which you did not pay to us, we may invoice you and you will pay such Taxes to us or directly
      | to the taxing authority, plus all applicable interest, penalties and fees.
    p
      | 5.5 Future Functionality. Your purchases are not contingent on the delivery of any future functionality or features, or dependent on any oral or written public comments made by us regarding future functionality or features.
    p
      strong 6. TERM AND TERMINATION
    p
      | 6.1 Term. This Agreement commences on the effective date specified in the Service Order and continues for the initial subscription term specified in the Service Order, unless this Agreement is terminated earlier in accordance with the terms of this Agreement.
      | This Agreement automatically renews for additional successive one-year terms unless at least 30 days before the end of the then-current term either party provides written notice to the other party that it does not intend to renew.
    p
      | 6.2 Termination for Material Breach. Either party may terminate this Agreement if the other party does not cure its material breach of this Agreement within 30 days of receiving written notice of the material breach from the non-breaching party. A breach
      | of this Agreement by your Affiliate, an Authorized User, or Permitted Third Party will be treated as a breach by you. Termination in accordance with this Subsection will take effect when the breaching party receives written notice of termination from
      | the non-breaching party, which notice must not be delivered until the breaching party has failed to cure its material breach during the 30-day cure period. If you fail to timely pay any Subscription Fees or Professional Services Fees, we may, without
      | limitation to any of our other rights or remedies, suspend performance of the Service, Professional Services, and Technical Support Services until we receive all amounts due, or may terminate this Agreement pursuant to this Subsection.
    p
      | 6.3 Post-Termination Obligations. If this Agreement is terminated for any reason: (a) we have no obligation to provide or perform any Service, Professional Services, or Technical Support Services after the effective date of the termination; (b) you will
      | immediately pay to us any Subscription Fees, Professional Services Fees, and other amounts that have accrued prior to the effective date of the termination; (c) any and all liabilities accrued prior to the effective date of the termination will survive;
      | (d) you will provide us with a written certification signed by your authorized representative certifying that all use of the Service, Client Software, and Documentation by you, your Affiliates, Permitted Third Parties, and Authorized Users has been
      | discontinued and the Client Software has been de-installed from your and your Affiliates’ computer systems; and (e) Sections and Subsections 1, 2, 3.7, 4.5, 5, 6.3, 7, 8.3, 9.4, 11, 12, and will 14 survive termination. If this Agreement is terminated
      | by us for your uncured material breach or by you other than as a result of a material, uncured breach by us, you will pay to us the amounts due under the applicable Service Order for the remainder of the then-current term. If you terminate this Agreement
      | for our uncured material breach, as your exclusive remedy, we will provide you a pro-rata refund of all prepaid but unused Subscription Fees for the remainder of the then-current term.
    p
      strong 7. CONFIDENTIAL INFORMATION
    p
      | 7.1 Definition. "Confidential Information" means non-public business information, know-how, and trade secrets in any form, including information regarding our product plans, Beta Versions, terms of this Agreement, and any other information a reasonable
      | person should understand to be confidential, which is disclosed by or on behalf of either party or its Affiliates to the other party or its Affiliates, directly or indirectly, in writing, orally, or by inspection of tangible objects, and whether such
      | information is disclosed before or after the Effective Date specified on the Service Order. Confidential Information includes this Agreement and its terms. "Confidential Information" excludes information that (a) is publicly known and made generally
      | available in the public domain prior to the time of disclosure by the disclosing party through no action or inaction of the receiving party; (b) is already in the possession of the receiving party at the time of disclosure by the disclosing party,
      | as shown by the receiving party’s files and records; (c) is obtained by the receiving party from a third party without a breach of the third party’s obligations of confidentiality; or (d) is independently developed by the receiving party without use
      | of or reference to the disclosing party’s Confidential Information, as shown by documents and other competent evidence in the receiving party’s possession.
      br
      |  7.2 Maintenance of Confidentiality. The party receiving Confidential Information hereunder
      |     agrees to take reasonable steps, at least substantially equivalent to the steps it takes to protect its own proprietary information, but not less than reasonable care, to prevent the unauthorized duplication or disclosure of the Confidential Information
      |     to third parties without the disclosing party’s prior written consent. The receiving party may disclose the disclosing party’s Confidential Information to the receiving party’s employees or agents who reasonably need to have access to such information
      |     to perform the receiving party’s obligations under this Agreement, and who will treat such Confidential Information under the terms of this Agreement. Provided that such Permitted Third Party is bound by obligations of confidentiality and nonuse no
      |     less restrictive than the terms of this Agreement, you may disclose our Confidential Information to a Permitted Third Party solely to the extent required for such Permitted Third Party to be able to access and use the Service pursuant to this Agreement.
      |     Also, we may disclose this Agreement to actual and potential investors and funding sources and their representatives, in each case who agree to hold it in confidence. The receiving party may disclose the disclosing party’s Confidential Information
      |     if required by law so long as the receiving party gives the disclosing party written notice of the requirement prior to the disclosure (where permitted) and reasonable assistance, at the disclosing party’s expense, in limiting disclosure or obtaining
      |     an order protecting the information from public disclosure.
      br
      |  7.3 Return of Materials and Effect of Termination. Upon written request of the disclosing party, or in any event upon any termination or expiration of this Agreement, the receiving party
      |     will return to the disclosing party or destroy all materials, in any medium, to the extent containing or reflecting any of the disclosing party’s Confidential Information. Following expiration or termination of this Agreement, we may purge your Subscriber
      |     Data and your Service environment from our systems. The obligations in this Section 7 survive for three years following expiration or termination of this Agreement, except that Confidential Information that constitutes a trade secret of the disclosing
      |     party will continue to be subject to the terms of this Section 7 for as long as such information remains a trade secret under applicable law.
    p
      strong 8. DATA SECURITY
    p
      | 8.1 Data Security. We implement and maintain physical, electronic, and managerial procedures intended to protect against the loss, misuse, unauthorized access, alteration, or disclosure of Subscriber Data. These measures include encryption of Subscriber
      | Data during transmission to the Service, and encryption of backups of Subscriber Data and authentication credentials at rest. We will notify you of any unauthorized access to, or use of, Subscriber Data that comes to our attention. If any unauthorized
      | disclosure of Subscriber Data resulting from your use of the Service comes to our attention, we will work with you to investigate the cause of such unauthorized disclosure, and will work together in good faith to take the steps reasonably necessary
      | to prevent any future reoccurrence and to comply with applicable data breach notification laws.
    p
      | 8.2 Data Transmission. You acknowledge that use of the Service involves transmission of Subscriber Data and other communications over the Internet and other networks. You must protect your Authorized User login names and passwords from access or use by
      | unauthorized parties, and are solely responsible for any failure to do so. You must promptly notify us of any suspected security breach at security@AtlasKPI.com.
    p
      | 8.3 Subscriber Data. Subscriber Data is your property. You grant us a non-exclusive, worldwide, royalty-free license to use, copy, transmit, sub-license, index, store, aggregate, and display Subscriber Data as required to provide or perform the Service,
      | Technical Support Services, account management services, and Professional Services, and to publish, display, and distribute de-identified, aggregated information derived from Subscriber Data and from your use of the Service for purposes of improving
      | our products and services, and developing, displaying, and distributing benchmarks and similar reports, provided that any such data is not publicly identified or identifiable as originating with or associated with you or any individual person.
    p
      strong 9. WARRANTIES AND DISCLAIMER
    p
      | 9.1 Mutual Warranties. Each party represents and warrants to the other that: (a) this Agreement constitutes a valid and binding agreement enforceable against such party in accordance with its terms; and (b) no authorization or approval from any third
      | party is required in connection with such party’s execution and delivery of the Service Order, or performance of this Agreement.
      br
      |  9.2 Our Warranty. We warrant that the Service as delivered to you will materially conform to the specifications set
      |     forth in the applicable Service Order, during the term of the Service Order. You must notify us of a claim under this warranty within 30 days of the date on which the condition giving rise to the claim first appears. We further warrant that we will
      |     perform Professional Services in a professional and workmanlike manner in accordance with the Service Order. To the extent permitted by law, your sole and exclusive remedy arising out of or in connection with a breach of warranty is limited to correction
      |     of the non-conforming Service or re-performance of the Professional Service, as applicable, or if correction or re-performance is not commercially reasonable, termination of the applicable Service Order and a refund of any prepaid unused fees for
      |     the applicable Service or Professional Services.
      br
      |  9.3 Sensitive Personal Information. Unless we specifically agree otherwise in writing, you represent and warrant that neither you nor any Authorized User will upload into the Service, or otherwise
      |     provide for processing by the Service, any Sensitive Personal Information. "Sensitive Personal Information" means Sensitive Personal Information and any similar term (e.g., "Sensitive Personal Data," "Protected Health Information," etc.) as defined
      |     under relevant privacy or data protection laws, including, without limitation, the Gramm-Leach-Bliley Act, Health Insurance Portability and Accountability Act of 1996, US Children’s Online Privacy Protection Act, and Family Educational Rights and
      |     Privacy Act. Without limitation, "Sensitive Personal Information" includes: personal financial and financial account information, sexual orientation, personal medical or health information, personal information of children under 13, personal education
      |     records, and social security, national identity, national insurance, and similar personal identifiers. You further represent and warrant that you and any Authorized User will comply with all applicable laws, regulations, self-regulatory guidelines,
      |     and your privacy policy with respect to the collection, transfer, and use of any personally identifiable information in connection with the Service, including proper disclosure and receipt of all required consents from each individual to transfer
      |     such personally identifiable information to us.
      br
      |  9.4 Disclaimer. EXCEPT FOR THE EXPRESS REPRESENTATIONS AND WARRANTIES STATED IN THIS SECTION, NEITHER PARTY MAKES ANY ADDITIONAL REPRESENTATION OR WARRANTY OF ANY KIND WHETHER EXPRESS, IMPLIED (EITHER
      |     IN FACT OR BY OPERATION OF LAW), OR STATUTORY, AS TO ANY MATTER WHATSOEVER. WE EXPRESSLY DISCLAIM ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUALITY, ACCURACY, TITLE, AND NON-INFRINGEMENT. WE DO NOT WARRANT AGAINST
      |     INTERFERENCE WITH THE ENJOYMENT OF THE SERVICE, CLIENT SOFTWARE, OR DOCUMENTATION. WE DO NOT WARRANT THAT THE SERVICE, CLIENT SOFTWARE, OR DOCUMENTATION IS ERROR-FREE OR THAT OPERATION OR USE OF THE SERVICE, CLIENT SOFTWARE, OR DOCUMENTATION WILL
      |     BE SECURE OR UNINTERRUPTED. WE EXERCISE NO CONTROL OVER AND EXPRESSLY DISCLAIM ANY LIABILITY ARISING OUT OF OR BASED UPON THE RESULTS OF USE OF THE SERVICE, CLIENT SOFTWARE, AND DOCUMENTATION.
      br
      |  9.5 High-Risk Activities. The SERVICE IS not designed
      |     or licensed for use in hazardous environments requiring failsafe controls, including without limitation operation of nuclear facilities, aircraft navigation or communications systems, air traffic control, OR life support or weapons systems, in which
      |     the failure of the SERVICE OR SOFTWARE could lead to death, personal injury, or severe physical or environmental damage. WE specifically disclaim any express or implied warranty of fitness for such high-risk activities.
    p
      strong 10. INTELLECTUAL PROPERTY INFRINGEMENT INDEMNIFICATION
    p
      | 10.1 Defense of Infringement Claims. We will, at our expense, either defend you from or settle any claim, proceeding, or suit brought by a third party ("Claim") against you alleging that your use of the Service infringes or misappropriates any patent,
      | copyright, trade secret, trademark, or other intellectual property right. You must (a) give us prompt written notice of the Claim; (b) grant us full and complete control over the defense and settlement of the Claim; (c) provide assistance in connection
      | with the defense and settlement of the Claim as we may reasonably request; and (d) comply with any settlement or court order made in connection with the Claim. You will not defend or settle any Claim under this Subsection 10.1 without our prior written
      | consent. You may participate in the defense of the Claim at your own expense and with counsel of your own choosing, subject to our sole control over the defense and settlement of the Claim as provided above.
    p
      | 10.2 Indemnification of Infringement Claims. We will indemnify you and your Affiliates from and pay: (a) all damages, costs, and attorneys’ fees finally awarded 
      br
      |  against you and your Affiliates in any Claim under Subsection 10.1; (b) all out-of-pocket
      |     costs, including reasonable attorneys’ fees reasonably incurred by you in connection with the defense of a Claim under Subsection 10.1 (other than attorneys’ fees and costs incurred without our consent after we have accepted defense of the Claim and
      |     expenses incurred pursuant to the last sentence of Subsection 10.1); and (c) all amounts that we agree to pay to any third party to settle any Claim under Subsection 10.1.
    p
      | 10.3 Exclusions from Obligations. We have no obligation under this Section 10 for any infringement or misappropriation to the extent that it arises out of or is based upon (a) use of the Service in combination with other products or services; (b) any
      | aspect of the Service configured specifically for you to comply with designs, requirements, or specifications required by or provided by or on your behalf; (c) use of the Service by you, any Authorized User, or any Permitted Third Party outside the
      | scope of the rights granted in this Agreement; (d) failure of you, any Authorized User, or any Permitted Third Party to use the Service in accordance with instructions provided by Us; or (e) any modification of the Service not made or authorized in
      | writing by Us.
    p
      | 10.4 Infringement Remedies. In the defense or settlement of any infringement Claim, we may, at our sole option and expense: (a) procure for you a license to continue using the Service; (b) replace or modify the allegedly infringing technology to avoid
      | the infringement; or (c) if the foregoing are not commercially feasible in our sole judgment, then terminate your license and access to the Service and refund any prepaid, unused Service fees as of the date of termination. This Section 10 states our
      | sole and exclusive liability, and your sole and exclusive remedy, for the actual or alleged infringement or misappropriation of any third-party intellectual property right by the Service.
    p
      strong 11. INDEMNIFICATION
    p
      | 11.1 Defense. You will defend us and our Affiliates from any actual or threatened third-party Claim arising out of or based upon (a) use of the Service by you, your Affiliates, Permitted Third Parties, or any Authorized User that is not in accordance
      | with the terms of this Agreement; and (b) the Subscriber Data or other materials or information provided by you or on your behalf under this Agreement. We will give you prompt written notice of the Claim and provide assistance in connection with the
      | defense and settlement of the Claim as you may reasonably request. We may participate in the defense of any Claim at our own expense and with counsel of our own choosing.
    p
      | 11.2 Indemnification. You will indemnify us from and pay: (a) all damages, costs, and attorneys’ fees finally awarded against us in any Claim under Subsection 11.1; (b) all out-of-pocket costs, including reasonable attorneys’ fees reasonably incurred
      | by us in connection with the defense of a Claim under Subsection 11.1 (other than attorneys’ fees and costs incurred without your consent after you have accepted defense of the Claim); and (c) all amounts that you agree to pay to any third party to
      | settle any Claim under Subsection 11.1.
    p
      strong 12. LIMITATIONS OF LIABILITY
    p
      | 12.1 Disclaimer of Indirect Damages. TO THE EXTENT PERMITTED BY LAW, NEITHER PARTY WILL, UNDER ANY CIRCUMSTANCES, BE LIABLE TO THE OTHER PARTY OR TO ANY THIRD PARTY FOR INDIRECT, CONSEQUENTIAL, INCIDENTAL, SPECIAL, OR EXEMPLARY DAMAGES, OR FOR LOST PROFITS
      | OR LOSS OF BUSINESS ARISING OUT OF OR RELATED TO THIS AGREEMENT, EVEN IF THE PARTY IS APPRISED OF THE LIKELIHOOD OF SUCH DAMAGES OCCURRING.
    p
      | 12.2 Cap on Liability. TO THE EXTENT PERMITTED BY LAW, UNDER NO CIRCUMSTANCES WILL EITHER PARTY’S TOTAL LIABILITY OF ALL KINDS ARISING OUT OF OR RELATED TO THIS AGREEMENT (INCLUDING BUT NOT LIMITED TO WARRANTY CLAIMS), REGARDLESS OF THE FORUM AND REGARDLESS
      | OF WHETHER ANY ACTION OR CLAIM IS BASED ON CONTRACT, TORT, OR OTHERWISE, EXCEED THE TOTAL AMOUNTS PAID BY YOU UNDER THIS AGREEMENT DURING THE 12 MONTHS IMMEDIATELY PRECEDING THE DATE OF THE EVENT GIVING RISE TO THE CLAIM. HOWEVER, THE ABOVE LIMITATIONS
      | WILL NOT LIMIT YOUR OBLIGATION TO PAY ANY FEES UNDER THIS AGREEMENT OR ANY SERVICE ORDER.
    p
      | 12.3 Independent Allocations of Risk. EACH PROVISION OF THIS AGREEMENT THAT PROVIDES FOR A LIMITATION OF LIABILITY, DISCLAIMER OF WARRANTIES, OR EXCLUSION OF DAMAGES IS TO ALLOCATE THE RISKS OF THIS AGREEMENT BETWEEN THE PARTIES. THIS ALLOCATION IS REFLECTED
      | IN THE PRICING OFFERED BY US TO YOU AND IS AN ESSENTIAL ELEMENT OF THE BASIS OF THE BARGAIN BETWEEN THE PARTIES. EACH OF THESE PROVISIONS IS SEVERABLE AND INDEPENDENT OF ALL OTHER PROVISIONS OF THIS AGREEMENT. THE LIMITATIONS IN THIS SECTION WILL
      | APPLY NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY IN THIS AGREEMENT.
    p
      strong 13. THIRD-PARTY PRODUCTS
    p
      | 13.1 Third-Party Products. Any third-party product that we provide as identified in an applicable Service Order or that is made available in connection with the Service (e.g., a Non-AtlasKPI App) is provided pursuant to the terms of the applicable third-party
      | agreement, and your use of any such third-party product constitutes your agreement to comply with the terms of the applicable third-party agreement. We assume no responsibility for, and specifically disclaim any liability or obligation with respect
      | to, any third-party product.
    p
      | 13.2 Non-AtlasKPI Apps. "Non-AtlasKPI App" means a software application developed by a third party or by you that interoperates with the Service and that may be listed in the AtlasKPI Appstore. We do not warrant or support Non-AtlasKPI Apps, regardless
      | of whether the Non-AtlasKPI App is certified by us. If you install or enable a Non-AtlasKPI App for use with the Service, you grant us permission to allow the provider of that Non-AtlasKPI App to access Subscriber Data as required for the interoperation
      | of that Non-AtlasKPI App with the Service. We are not responsible for any disclosure, modification, or deletion of Subscriber Data by the Non-AtlasKPI provider resulting from access by a Non-AtlasKPI App. If we believe a Non-AtlasKPI App violates
      | our policies, this Agreement, applicable law, or the rights of any third party, we may disable the Non-AtlasKPI App and suspend use of the Non-AtlasKPI App until the potential violation is resolved.
    p
      strong 14. MISCELLANEOUS
    p
      | 14.1 Access by Competitors. You may not access the Service if you are our direct competitor, except with our prior written consent. In addition, you may not access the Service for purposes of monitoring its availability, performance, or functionality,
      | or for any other benchmarking or competitive purpose.
    p
      | 14.2 U.S. Government Use. If the Service is licensed under a United States government contract, you acknowledge that the Service is a "commercial item" as defined in 48 CFR 2.101, consisting of "commercial computer software" and "commercial computer software
      | documentation," as such terms are defined in FAR Section 2.101 and Section 252.227-7014 of the Defense Federal Acquisition Regulation Supplement (48 CFR 252.227-7014) and used in 48 CFR 12.212 or 48 CFR 227.7202-1, as applicable. You also acknowledge
      | that the Service is "commercial computer software" as defined in 48 CFR 252.227-7014(a)(1). United States government agencies and entities and others acquiring under a United States government contract will have only those rights, and will be subject
      | to all restrictions, set forth in this Agreement.
    p
      | 14.3 Anti-Corruption. You have not received or been offered any illegal or improper bribe, kickback, payment, gift, or thing of value from any of our employees or agents in connection with this Agreement. Reasonable gifts and entertainment provided in
      | the ordinary course of business do not violate the above restriction. If you learn of any violation of the above restriction, you will use reasonable efforts to promptly notify our Legal Department at legal@AtlasKPI.com.
    p
      | 14.4 Relationship. We will be and act as an independent contractor (and not as the agent or representative of you) in the performance of this Agreement.
    p
      | 14.5 Publicity. We may only use your name, trademarks, and service marks to the extent necessary to fulfill our obligations under this Agreement or as otherwise explicitly authorized in this Agreement or a Service Order. We reserve the right to use your
      | name as a reference for marketing and promotional purposes on our website and in other communications with our existing and prospective customers. If you do not want to be listed as reference for the Service, you may send an email to legal@AtlasKPI.com
      | stating that you do not wish to be identified as a reference.
    p
      | 14.6 Assignment and Delegation. You may not assign any of your rights or delegate any of your obligations under this Agreement (in whole or in part) without our prior written consent, except in connection with a change of control, merger, or by operation
      | of law. Your assignment or delegation will not relieve you of your obligations under this Agreement nor release you of your liability under this Agreement. We may voluntarily, involuntarily, or by operation of law assign any of our rights or delegate
      | any of our obligations under this Agreement without your consent. Any purported assignment or delegation in violation of this Subsection will be null and void. Subject to this Subsection, this Agreement will bind and inure to the benefit of each party’s
      | respective permitted successors and permitted assigns.
    p
      | 14.7 Subcontractors. We may use subcontractors or other third parties in carrying out our obligations under this Agreement and any Service Order. We remain responsible for all of our obligations under this Agreement.
    p
      | 14.8 Notices. Any notice required or permitted to be given in accordance with this Agreement will be effective if it is in writing and sent by certified or registered mail, or overnight courier, return receipt requested, to the appropriate party at the
      | address set forth in the Service Order and with the appropriate postage affixed. Either party may change its address for receipt of notice by notice to the other party in accordance with this Subsection. Notices are deemed given two business days
      | following the date of mailing or one business day following delivery to a courier.
    p
      | 14.9 Force Majeure. Neither party will be liable for, or be considered to be in breach of or default under this Agreement on account of, any delay or failure to perform as required by this Agreement as a result of any cause or condition beyond its reasonable
      | control, so long as that party uses all commercially reasonable efforts to avoid or remove the causes of non-performance.
    p
      | 14.10 Governing Law. This Agreement will be interpreted, construed, and enforced in all respects in accordance with the local laws of the State of Florida, U.S.A., without reference to its choice of law rules and not including the provisions of the 1980
      | U.N. Convention on Contracts for the International Sale of Goods.
    p
      | 14.11 Arbitration. Except for the right of either party to apply to a court of competent jurisdiction for a temporary restraining order, a preliminary injunction, or other equitable relief to preserve the status quo or prevent irreparable harm, any action
      | arising out of or in connection with this Agreement or the breach, termination, enforcement, interpretation, or validity thereof, will be determined by binding arbitration in Miami Dade County, Florida, U.S.A. by one arbitrator. The arbitration will
      | be administered by the AAA pursuant to its Comprehensive Arbitration Rules and Procedure. Judgment upon the award rendered by an arbitrator may be entered in any court of competent jurisdiction. The prevailing party will be entitled to receive from
      | the other party its attorneys’ fees and costs incurred in connection with any arbitration or litigation instituted in connection with this Agreement. The parties will maintain the confidential nature of the arbitration proceeding except as may be
      | necessary to prepare for or conduct the arbitration hearing on the merits.
    p
      | 14.12 No Third-Party Beneficiaries. There are no third-party beneficiaries to this Agreement, including, without limitation, your Affiliates, Permitted Third Parties, or Authorized Users.
    p
      | 14.13 Waiver and Modifications. Failure, neglect, or delay by a party to enforce the provisions of this Agreement or its rights or remedies at any time, will not be construed as a waiver of the party’s rights under this Agreement and will not in any way
      | affect the validity of the whole or any part of this Agreement or prejudice the party’s right to take subsequent action. Exercise or enforcement by either party of any right or remedy under this Agreement will not preclude the enforcement by the party
      | of any other right or remedy under this Agreement or that the party is entitled by law to enforce. We reserve the right, at our discretion, to change the terms of this Agreement on a going-forward basis at any time. Please check the terms of this
      | Agreement periodically for changes. If a change materially modifies your rights or obligations, you will be required to accept the modified Agreement in order to continue to use the Service. Material modifications are effective upon your acceptance
      | of the modified Agreement. Immaterial modifications are effective upon publication. Disputes arising under this Agreement will be resolved in accordance with the version of this Agreement that was in effect at the time the dispute arose.
    p
      | 14.14 Severability. If any part of this Agreement is found to be illegal, unenforceable, or invalid, the remaining portions of this Agreement will remain in full force and effect. If any material limitation or restriction on the use of the Service under
      | this Agreement is found to be illegal, unenforceable, or invalid, your right to use the Service will immediately terminate.
    p
      | 14.15 Headings. Headings are used in this Agreement for reference only and will not be considered when interpreting this Agreement.
    p
      | 14.16 Counterparts. The Service Order may be executed in any number of identical counterparts, notwithstanding that the parties have not signed the same counterpart, with the same effect as if the parties had signed the same document. All counterparts
      | will be construed as and constitute the same agreement. The Service Order may also be executed and delivered by facsimile or electronically and such execution and delivery will have the same force and effect of an original document with original signatures.
    p
      | 14.17 Entire Agreement. This Agreement and all exhibits contain the entire agreement of the parties with respect to the subject matter of this Agreement and supersede all previous communications, representations, understandings, and agreements, either
      | oral or written, between the parties with respect to said subject matter, including any prior Nondisclosure Agreement between the parties or their Affiliates. If there is a conflict between the terms of this Agreement and a Service Order, the terms
      | of the Service Order will control. No usage of trade or other regular practice or method of dealing between the parties will be used to modify, interpret, supplement, or alter the terms of this Agreement. Neither party will be bound by, and specifically
      | objects to, any term, condition, or other provision that is different from or in addition to this Agreement (whether or not it would materially alter this Agreement) that is proffered by the other party in any acceptance, confirmation, invoice, purchase
      | order, receipt, correspondence, or otherwise, unless each party mutually and expressly agrees to such provision in writing.

  //- buttons
  div.p-t-10(flex)
    div(layout="row", layout-align="end end")
      div(flex-initial)
        bw-button(icon="check", title="AGREE", color="blue", (clicked)="clickAction('agree')")
      div(flex-initial)
        bw-button(icon="close", color="black", [simple]="true", title="DECLINE", (clicked)="clickAction('decline')")