.user-agreement {
    background-color: #E8E8E8;
    font-family: Gotham HTF!important;
    height: 330px;
    overflow: scroll;
    p {
        line-height: 20px;
    }
}

.c-duke-blue {
    color: #020e48;
}

::-webkit-scrollbar {
    display: none;
}