.title-video-container {
    height: 350px;
    overflow: auto;
    padding: 0px !important;
}

#header-videos{
    background-color: #edecec;
    height: 100%;
}

.basic-title{
    margin-left: 31px !important;
}