.map-container(flex, layout="column")
  .position(*ngIf="mapSelected", [formGroup]="fgMap")
    input.position.z-depth-1(formControlName="position",
    [ngClass]="{'err-position': fgMap.controls['position'].errors}", 
    type="text", (click)="onClickPosition()")
    .err-message(*ngIf="fgMap.controls['position'].errors && fgMap.controls['position'].errors.invalidDataType") Please enter a numeric value
    .err-message(*ngIf="fgMap.controls['position'].errors && fgMap.controls['position'].errors.forbiddenName") Duplicated value
  .map-title {{item.title}}
  img.m-t-10(src="../../assets/img/datasources/mapa.logo.png", alt="mapa")
  .map-description {{item.subtitle}}
