@import '../../../../assets/styles/themes/_cosmetic-mixins';

.spinner-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 1000;
    @include opacity(0.8);

    .spinner {
        position: absolute;
        left: calc(50% - 20px);
        // top: calc(50% - 100px);
    }
}