// Widget colors

$w-white: #fff;
$w-orange: #ffa34a;
$w-blue: #2fb6fc;
$w-green: #22b4ad;
$w-light-green: #75cd92;
$w-sei-green: #8BC34A;
$w-purple: #b186e6;
$w-light-purple: #6280ff;
$w-pink: rgba(244,91,91,0.75);
