.mobile-menu(layout="column", layout-align="center center")
    //- dashboard
    .mobile-menu--dashboard
        a.menu-option(routerLink="/dashboards")
            .menu-option--icon
                i.zmdi.zmdi-view-dashboard
            .menu-option--title Main Dashboard

    //- calendar
    .mobile-menu--calendar
        a.menu-option(routerLink="/appointments/list")
            .menu-option--icon
                i.zmdi.zmdi-calendar
            .menu-option--title Calendar

    //- notifications
    .mobile-menu--notifications
        a.menu-option(routerLink="/notifications")
            .menu-option--icon
                i.zmdi.zmdi-notifications
            .menu-option--title Notifications
