bw-card.m-b-5.p-relative(flex, [depth]="1")
    bw-card-body.box(flex, [padded]="true", (click)="setActive()")
        div(layout="column", style="min-height: 300px;")
            .text-center.text-wrap.mini-chart-title(flex) {{ item.title }}
            div(flex, layout="column")
            div(*ngIf="loading", flex, style="text-align: center")
                bw-preloader(color="gray")
                //- | loading...
            //- , flex animation.fadeIn.box.p-t-5([chart]="chart", style="height: 300px;")
    .marker.animated.fadeIn(*ngIf="(selected$ | async) === item")
        i.zmdi.zmdi-check-circle.text-right.c-blue.checked
