.user-avatar-slide {
    .fullname {
        font-weight: 400;
    }
    .email {
        font-size: 14px;
    }

    kpi-file-input {
        position: relative;
        top: -35px;
        right: -50px;
    }
}