bw-modal(#editUser='', [animation]="animation", [keyboard]="keyboard",
    [backdrop]="backdrop", [cssClass]="cssClass")
  bw-modal-header
    h4.modal-title.text-center Edit User
  bw-modal-body
    kpi-user-form([fg]="fg")
  bw-modal-footer
    bw-button(title="Save", [simple]="true", (clicked)="set()", [disabled]="!isFormValid()")
    bw-button(title="Cancel", [simple]="true", (clicked)="cancel()")

bw-modal(#errorModal='')
  bw-modal-header
    h4.modal-title.c-black.text-center {{ lastError?.title }}
  bw-modal-body
        div(layout="row", layout-padding, layout-align="center center")
            i.zmdi.zmdi-alert-octagon.c-red.big-icon.m-r-20(flex-none)
            div(layout="column", flex)
                .m-b-10(flex) {{ lastError?.msg }}
  bw-modal-footer
      bw-button(color="blue", title="Ok", [simple], icon="close", (clicked)="errorModal.close()")