bw-select-picker([fg]="fg",
              field="timeFormat",
              [items]="timeFormats",
              [liveSearch]="true",
              liveSearchPlaceholder="... type to seach ...",
              noneSelectedText="Select Time Format")
