@import "../../../assets/styles/themes/cosmetic-mixins";
@import "../../../assets/styles/_declaration";

.no-slideshow-container {
    padding: 15px;

    .icon {
        font-size: 512px;
        color: $lightGray;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1366px) and (aspect-ratio: 512/683) and (orientation: portrait) {
        .icon {
            font-size: 512px;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (aspect-ratio: 4/3) and (orientation: landscape) {
        .icon {
            font-size: 512px;
        }
    }
    @media only screen and (min-width: 414px) and (max-width: 736px) and (aspect-ratio: 16/9) and (orientation: landscape) {
        .icon {
            font-size: 300px;
        }
    }
    @media only screen and (min-width: 414px) and (max-width: 736px) and (aspect-ratio: 9/16) and (orientation: portrait) {
        .icon {
            font-size: 300px;
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 667px) and (aspect-ratio: 667/375) and (orientation: landscape) {
        .icon {
            font-size: 300px;
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 667px) and (aspect-ratio: 375/667) and (orientation: portrait) {
        .icon {
            font-size: 300px;
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 568px) and (aspect-ratio: 71/40) and (orientation: landscape) {
        .icon {
            font-size: 300px;
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 568px) and (aspect-ratio: 40/71) and (orientation: portrait) {
        .icon {
            font-size: 300px;
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 480px) and (aspect-ratio: 3/2) and (orientation: landscape) {
        .icon {
            font-size: 300px;
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 480px) and (aspect-ratio: 2/3) and (orientation: portrait) {
        .icon {
            font-size: 300px;
        }
    }
}