kpi-overlay([active]="true", openEffect="none", [opacity]="0.7")
    .h-100(layout="row", layout-padding, layout-align="center center", style="z-index: 10")
        div(flex="45", flex-md="60", flex-sm="80", flex-xs="90")
            .h-100(layout="column", layout-padding)
                .flex
                    bw-card([depth]="2")
                        //- card-header
                        //-     h1.header Login
                        bw-card-body
                            div(layout="row")
                                div(hide-xs, flex-none)
                                    .h-100(layout="column", layout-padding, layout-align="center center")
                                        img.signin.logo.p-20([style.height.px]="80", src="/assets/img/logos/logo.png")
                                .p-20(flex)
                                    div(*ngIf="!passwordResetted", layout="column", layout-padding)
                                        .text-center.animated.fadeIn(*ngIf="!tokenValid", flex)
                                            p.m-t-20.lead The token you provided is either invalid or expired
                                            div(flex)
                                                .text-center(flex)
                                                bw-button#home(color="blue", title="BACK TO SIGN IN", [simple]="true", [block]="true",
                                                     class="normal", (clicked)="navigateLogin()")
                                        div(flex, [class.hide]="!tokenValid")
                                            div(layout="column")
                                                p.lead.p-5.text-center(flex)
                                                    | Reset your password:
                                                div(flex)
                                                    bw-password([fg]="fg", [required], field="password", label="New Password", [enforceComplexity]="true")
                                                .m-t-10(flex)
                                                    bw-password([fg]="fg", [required], field="confirmPassword", label="Confirm Password")
                                                    .invalidPwdMsg(*ngIf="!passwordsMatch") Passwords don't match. Please try again!
                                                .text-center(flex)
                                                    bw-button(color="blue", title="Reset", icon="refresh",
                                                                [rounded]="true", class="normal",  (clicked)="resetPassword()",
                                                                [disabled]="!fg.valid || isPasswordsEmpty")
                                                div(flex)
                                                    .text-center.p-t-10(flex)
                                                      bw-button#home(color="blue", title="BACK TO SIGN IN", [simple]="true", [block]="true",
                                                        class="normal", (clicked)="navigateLogin()")
                                    div(*ngIf="passwordResetted", layout="column", layout-padding)
                                        div(flex)
                                            p.lead.p-5.text-center(flex="100")
                                                | Your password was successfully changed.
                                        .text-center(flex)
                                            bw-button#home(color="blue", title="Login", icon="key", [simple]="true",
                                                        class="normal", (clicked)="navigateLogin()")




