
.Maps{
  .card-body{
    background-color: #171d2b !important;
  }
}

.show-map-container {
  background-color: #171d2b !important;
}

.legend {
  background-color: #2c3446 !important;
  
  .money-range{
    color: white !important;
    }
}

.legend-settings.bgm-white{
  background-color: #2c3446 !important;
}