.show-map-container {
  background-color: #171d2b !important;

  bw-button {
    .bgm-white {
      background-color: #171d2b !important;
    }
  }
}

.legend {
  background-color: #171d2b !important;
}

// .legend-settings.bgm-white{
//   background-color: #2c3446 !important;
// }