bw-select-picker([fg]="fg",
              field="timezone",
              [items]="timezones",
              [liveSearch]="true",
              liveSearchPlaceholder="... type to seach ...",
              noneSelectedText="Select Timezone")
