bw-modal(#addRoleModal='',
    [backdrop]="backdrop", (onClosed)="modalClose()", (onDismiss)="modalClose()", [cssClass]="cssClass")
  bw-modal-header
    h4.modal-title Add Role
  bw-modal-body
    kpi-role-form([fg]="fg")
  bw-modal-footer
    bw-button(title="Save", [simple]="true", (clicked)="set()", [disabled]="!isFormValid()")
    bw-button(title="Cancel", [simple]="true", (clicked)="cancel()")