// app colors
$background-color: white;


// chart colors
$hc-background: $background-color;
$hc-darkGray: #4D4D4D;
$hc-blue: #5DA5DA;
$hc-light-orange: #FAA43A;
$hc-dark-orange: #F17CB0;
$hc-light-brown: #B2912F;
$hc-dark-brown: #B276B2;
$hc-yellow: #DECF3F;
$hc-red: #F15854;
$hc-violet: #8085e9;
$hc-light-blue: #91e8e1;