.h-100(layout="column")
  .text-center.h-icon.opcity--40(flex)
    //- img.h-icon(src="./assets/img/targets/icon_new.png")
    .zmdi.zmdi-assignment

  .commit.opcity--40.m-t-40(flex)
    | There are no milestones created for this target yet. Please click add button below to begin.

  .text-center.m-t-20(flex)
    bw-button(color="blue" title="Add milestone", icon="plus", class="normal", (clicked)="addEvent()", [rounded]="true")


