.m-t-25(flex, layout="column", layout-padding)
    bw-text-box(flex-initial, [fg]="fg", field="name", label="Name", leftIcon="label")
    bw-text-box(flex-initial, [fg]="fg", field="name", label="Name", leftIcon="label")
    .m-10(flex-initial, *ngFor="let stage of funnelModel?.stages; let i = index")
        kpi-collapsable.m-l-15.m-b-15(headerText="Stage 1:", [color]="'black'")
            .m-t-15.m-l-25(layout="column")
                p stage {{ i }}
                