.m-t-25(flex, layout="column", layout-padding)
    bw-text-box(flex-initial, [fg]="fg", field="name", label="Name", leftIcon="label")
    bw-text-box(flex-initial, [fg]="fg", field="name", label="Name", leftIcon="label")
   
    pre {{ fg.value | json }}

    .m-10(flex-initial, *ngFor="let stage of funnelModel?.stages; let i = index")
        kpi-collapsable.m-15(headerText="Stage", [color]="'black'")
            kpi-stage-form(
                [parentFormArray]="fg.get('stages')",
                [stageModel]="stage",
                (stageRemoved)="onStageRemoved($event)"
            )
                

    div(flex, layout="row", layout-padding, layout-align="end end")
        div(flex-initial)
            .m-l-15(flex)
                bw-button(color="blue", icon="plus", title="Add Stage", (clicked)="addStage()")           