html,
body {
    font-weight: 100 !important;
}

// body {
//     margin: 0;
// }
.overflow-auto {
    overflow: auto;
}

.overflow-y-auto {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

 .hv-100 {
    height: 100vh;
    overflow: auto;
     ::-webkit-scrollbar {
       // display: none;
       background-color: transparent;
       width:  0;
       height: 0;
    }
    .show-scroll{
        ::-webkit-scrollbar {
            //display: block;
            width:  1.2em;
            height: 1.2em;
            background-color:transparent;
        }
        ::-webkit-scrollbar-track {
            background-color:transparent;
            width: 1.2em;
        }
        ::-webkit-scrollbar-track-piece  {
            -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
             box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
        }
        ::-webkit-scrollbar-thumb {    
            // background-color: #d4dee8;
            // width: 10px;
            border-radius: 10px;
            height: 2.5em;
            background-color: #bcc1ca;
            outline: 1px solid slategrey;
        }
    }
}

.pointer-cursor {
    cursor: pointer;
}

// $break-small: 320px;
// $break-large: 1200px;
// .responsive-padding {
//     padding: 8px;
//     @media (max-width: $break-small) {
//         padding: 12px;
//     }
//     @media (max-width: $break-large) {
//         padding: 0;
//     }
// }
// r-m-b-5 {
// }


.flex-12-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 12.5%;
            flex: 1 1 12.5%;
    max-width: 12.5%;
    max-height: 100%;
    box-sizing: border-box; }
  
  .layout-row > .flex-12-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 12.5%;
            flex: 1 1 12.5%;
    max-width: 12.5%;
    max-height: 100%;
    box-sizing: border-box; }
  
  .layout-column > .flex-12-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 12.5%;
            flex: 1 1 12.5%;
    max-width: 100%;
    max-height: 12.5%;
    box-sizing: border-box; }

.flex-gt-md-12-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 12.5%;
            flex: 1 1 12.5%;
    max-width: 12.5%;
    max-height: 100%;
    box-sizing: border-box; }
.layout-row > .flex-gt-md-12-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 12.5%;
            flex: 1 1 12.5%;
    max-width: 12.5%;
    max-height: 100%;
    box-sizing: border-box; }
.layout-column > .flex-gt-md-12-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 12.5%;
            flex: 1 1 12.5%;
    max-width: 100%;
    max-height: 12.5%;
    box-sizing: border-box; }

.maximized-no-card {
        background-color: #fff;
        position: fixed !important;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5000;

    .full-height{
            height: 100% !important;
            overflow: auto;
            padding: 8px 25px !important;
    }
    @media only screen and (max-width: 1024px)  {
        top: 67px !important; 
    }
}
