div(layout="column", flex layout-padding, layout-align="center center")
    div(layout="row")
        div(flex)
    div(layout="row")
        .flex
    div(layout="row")
        div(flex)
            i.zmdi.zmdi-settings.zoom-icon-25.op-5
    div(layout="row")
        div(flex)
            h1.op-5.f-x-large Settings Will Be Coming Soon